.container {
    width: auto;
    height: 100vh;
    display: flex;
    background-color: lightslategray;
    justify-content: center;
    align-items: center;
}
.box1 {
    height: 20vh;
    width: 20vh;
    background-color: aqua;
}
.box2 {
    height: 20vh;
    width: 20vh;
    background-color: chocolate;
}
.box3 {
    height: 20vh;
    width: 20vh;
    background-color: indianred;
}